[Unit]
Description=Rclone Mount OBS
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/rclone mount obs:${BUCKET_NAME} ${MOUNT_PATH} \
  --config /etc/rclone/rclone.conf \
  --allow-other \
  --uid $SMB_UID \
  --gid $SMB_GID \
  --dir-perms $DIR_PERMS \
  --file-perms $FILE_PERMS \
  --umask $UMASK_VAL \
  --vfs-cache-mode full \
  --vfs-cache-max-age $VFS_CACHE_AGE \
  --vfs-cache-max-size $VFS_CACHE_SIZE \
  --dir-cache-time 168h \
  --buffer-size 256M
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
